body,div,span,p,em,h1,h2,h3,h4,ul,li{margin:0;padding:0;}
/*body {overflow: hidden;}*/
ul,li{list-style:none;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
em{font-style:normal;}
a{text-decoration:none;outline:none;}
.clearfix:after {content: '';clear: both;display: block;height: 0;visibility: hidden;}
.clearfix {display: inline-block;}
.clearfix {display: block;}
body{width:1008px;overflow:hidden;font-family:'微软雅黑';background:#fff;}
.wrap{background:#f0f;overflow:hidden;background: #fff;font-family:'微软雅黑';font-size:13px;clear:both;width:1007px;height:678px;_height:670px;color:#323232;position:relative;margin-top:-38px;*margin-top:-38px;_margin-top:-22px;}
.dashboard-outter{position:relative;overflow-x:hidden;overflow-y:auto;width:1018px;_width:1018px;height:714px;padding-top:0px;*padding-top:0px;margin-top:0px;*margin-top:0px;}
.dashboard-outter {scrollbar-track-color: #fff; scrollbar-3dlight-color: #fff; scrollbar-darkshadow-color: #fff; scrollbar-arrow-color: #fff; scrollbar-face-color: #c5c5c5; scrollbar-highlight-color: #fff; scrollbar-shadow-color: #fff;}
#dashboard {width:1005px;padding:38px 0 25px;*padding:31px 0 18px;_padding:22px 0 12px;}

/*app 图标 --下载   */
.app-intro{padding:15px 0 20px; margin:0 24px;border-bottom:1px solid #dcdcdc;cursor:default;}
.app-img{width:105px;margin-right:25px;margin-top:3px;}
.app-pic{position:relative;height:105px; width:105px;}
.app-pic .imask {width:105px;height:105px;position:absolute;top:0;left:0;background:url(../image/imask.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image/imask.png');}
.app-pic img{width:105px;height:105px;}
.app-img a{width:101px;height:33px;display:block;margin:4px auto 0;background:url(../image/down.jpg) no-repeat;}
.app-img .download{background-position:0 0;}
.app-img .installed{background-position:0 -33px; cursor:default;}
.app-img .downloading{background-position:0 -66px; cursor:default;}
.app-img .can-update{background-position:0 -99px;}

/*小编点评*/
.descri{width:574px;margin-right:54px;margin-top:20px;}
.app-name{position:relative;}
.app-name h1{font-size:22px;line-height:26px;font-weight:normal;width:496px;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;}
.app-name a{background:url(../image/update.jpg) no-repeat;width:78px;height:23px;position:absolute;right:0;top:4px;display:block;}
.app-name .update{background-position:0 0;}
.app-name .updated{background-position:0 bottom;}
.app-text{margin-top:12px;line-height:23px;font-size:13px;color:#000;}
.app-text p{height:46px;overflow-y: hidden;}

/*好评率*/
.rate{width:188px;padding:0px 4px 0 0;margin-top:20px;}
.percent{font-size:12px;margin-bottom:5px;color:#969696;vertical-align:bottom;}
.percent em{font-family:Candara;font-size:18px;color:#e74c3c;line-height:24px;display:inline-block;width:56px;}
.percent em.lower{font-family: "微软雅黑";font-size:14px;color:#7F7F7F;}
.star{line-height:24px;font-size:11px;color:#969696;margin-left:-2px;}
.star span{vertical-align:middle;}
.star .s,.star em{background:url(../image/star.jpg) no-repeat ;width:100px;height:16px;}
.star .s{background-position:left bottom;display:inline-block;_display:inline;zoom:1;}
.star em{background-position:left top;width:90px;display:block;}
.star .score{font-family:Candara;font-size:30px;margin:0 8px 0 10px;color:#e74c3c;}
.tags{margin-top:auto;height:55px;overflow-y:hidden;}
.tags a{display:inline-block;_display:inline;zoom:1;padding:1px 0 1px 8px;margin:5px 5px 0 0;font-size:11px;color:#3498db;line-height:18px;background:url(../image/tags-l.jpg) no-repeat left center;}
.tags a span{padding:1px 8px 1px 0;line-height:18px;text-align:center;background:url(../image/tags.jpg) no-repeat right center;display:block;}
.recommend{line-height: 24px;font-size:12px;color:#969696;}
.recommend #score-desc{font-size:14px;color:#7F7F7F;display:inline-block;width:56px;}

.main{margin:0 24px 0 26px;padding:18px 0 0;}
.con{width:724px;margin-right:34px;}

/*ipone-ipad-视频*/
.pic-tab{background:#f0f0f0;height:380px;padding-top:7px;position:relative;}
.pic-tab .title{text-align:center;height:34px;margin-bottom:6px;cursor:default;}
.pic-tab .tit{background:url(../image/title-bg.jpg) no-repeat right top;height:34px;padding:0 1px 0 0;display:inline-block;*display:inline;zoom:1;}
.pic-tab .tit .ti{background:url(../image/title-l.jpg) no-repeat left top;padding:0 0 0 1px;height:34px;_display:inline;zoom:1;}
.pic-tab .tit .ti a{display:none;height:26px;line-height:26px;width:80px;text-align:center;font-family:Arial;font-size:14px;color:#a1a1a1;zoom:1;margin:4px 2px;cursor:pointer;}
.pic-tab .tit .ti a.active{background:url(../image/title-active.jpg) no-repeat; color:#000;}
.pic-tab .tit .ti a.is-show{display:inline-block;_display:inline;}
.pic-tab .tab-con{overflow:hidden;height:339px;width:704px;position:relative;margin: 0 10px;}
.pic-tab .tab-con div.preview-cont {height:340px;width:704px;overflow:hidden;position:absolute; z-index:1; left:-999999px; top:0;}
.pic-tab .tab-con div.active {left:0px;padding-right:5px;}
.pic-tab .tab-con div.preview-cont div.preview-pic {width:100000px;}
.pic-tab .tab-con div.preview-pic {*margin-right:-5px;}
.pic-tab .tab-con div img{height:330px; border:1px solid #c8c8c8;margin-right:3px;}
.pic-tab .tab-con .video{width:541px; height:330px;margin:0 auto;overflow:hidden;}
.pic-tab .tab-con .t-l{width:30px;height:331px;z-index:3;position:absolute;left:0px;top:0px;background:url(../image/shadow-left.png) no-repeat right top;_display:none;}
.pic-tab .tab-con .t-r{width:30px;height:331px;z-index:3;position:absolute;right:0px;top:0px;background:url(../image/shadow-right.png) no-repeat right top;_display:none;}
.pic-tab .pic-comment{position:absolute;right:10px;top:7px;background:url(../image/pic-comment.jpg) no-repeat;width:49px;height:33px;overflow:hidden;padding: 0 12px;text-align:center;}
.pic-tab .pic-comment a{line-height:33px;padding-left:15px;font-size:12px;color:#2980b9;display:block;background:url(../image/comment.jpg) no-repeat left 11px;text-align:center;}

/*内容详情*/
.text-tab{margin-top:25px;}
.text-tab .title{border-bottom:1px solid #00b6de;height:36px;line-height:36px;}
.text-tab .title a{display:none;width:160px;text-align:center;font-size:14px;color:#323232;}
.text-tab .title a.active{background:#00b6de;color:#fff;}
.text-tab .title a.is-show{display:inline-block;_display:inline;zoom:1;}
.text-tab .tab-con{padding:12px 0 0;overflow:hidden;position:relative;background:#fff;}
.text-tab .tab-con div.info-fold, .text-tab .tab-con div.info-unfolded{overflow-y:hidden;margin:0 10px;}
.text-tab .tab-con div.info-fold{position:relative; max-height:504px; _height:250px;}
.text-tab .tab-con div.info-unfolded{height:auto;}
.text-tab .tab-con div div.info-content{display:none;}
.text-tab .tab-con div div.active{display:block;}
.text-tab .tab-con div.btn-toggle{display:block;visibility:hidden;height:33px;line-height:33px;font-size:14px;color:#a6937c;text-align:center;border:1px solid #e7e5dc; background:#fefcf3;margin:14px 0 21px; cursor:pointer;}
.text-tab .tab-con div p {margin: 0 0 10px 0;text-align:justify;text-justify:inter-ideograph;text-indent:2em;}
.text-tab .tab-con div p img {margin:15px 0;max-width:95%;_width:95%;display:block;}

/*相关阅读*/
.related{display:none; padding:0px 0px 25px 0px; background:#fff;}
.related .related-title span{display:inline-block;vertical-align:middle;color:#000;}
.related .related-title .line{background:#cfcfcf;height:1px;overflow:hidden;font-size:0;width:608px;}
.related .related-title .t{width:54px;background:url(../image/other-read.jpg) no-repeat left center;padding-left:26px;line-height:28px;margin-right:15px;}
.related ul{margin-top:6px;clear:both;overflow:hidden;}
.related li{width:352px;float:left;line-height:2;}
.related li a{color:#000;}
.related li a:hover{color:#00b6de;}
.related li a:active{color:#969696;}
.related li a.current{color:#00b6de; cursor:default;}

/*赞*/
.comment-con {position:relative;}
.comment-con .cgood {position:absolute; right:0px; top:15px; z-index:1; text-align:right;height: 30px;}
.cgood a{display:inline-block;_display:inline;zoom:1;font-family:Arial;font-size:12px;color:#969696;text-align:center;width:41px;background:url(../image/good.jpg) no-repeat;padding:0 10px 0 30px;height:31px;line-height:32px;overflow:hidden;}
.cgood .good{background-position:left top;}
.cgood .bad{background:url(../image/bad.jpg) no-repeat left top;margin-left:7px;}
.cgood .clicked{background-position:left bottom;height:32px;}
.sidebar{width:192px;}

/*APP参数*/
.app-dets{font-size:13px;line-height:24px;width:162px;_width:152px;padding:0 40px 14px 0;border-bottom:1px solid #dcdcdc;overflow:hidden;}
.app-dets .iphone,.app-dets .ipad{background:url(../image/device.jpg) no-repeat;height:24px;line-height:34px;overflow:hidden;float:left;display:inline;vertical-align:bottom;}
.app-dets .iphone{background-position:0 0;padding-left:22px;}
.app-dets .ipad{background-position:0 -24px;padding-left:26px;}
.app-dets .only{display: inline-block;height: 24px;float:left;line-height: 34px;}
.app-dets li{display:block;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;_width:100%;}
.sprt-all .ipad{margin-left:30px;}
.sprt-all,.sprt-one{margin-bottom:8px;overflow:hidden;}

/*礼包*/
.gifts{padding:12px 0 14px;border-bottom:1px solid #dcdcdc;}
.timer{height:34px;line-height:34px;font-size:12px;margin-bottom:4px;}
.timer span {width:120px;}
.timer span,.timer a{height:34px;line-height:34px;vertical-align:middle;display:inline-block;_display:inline;zoom:1;vertical-align:middle;}
.timer a.active{background:url(../image/timer.jpg) no-repeat right center;width:72px;}
.timer a.negative{background:url(../image/timeout.jpg) no-repeat right center;width:72px;}
.gift-info li{font-size:12px;line-height:24px;}
.gift-info li em{color:#f39c12;font-family:Arial;font-weight:bold;font-size:18px;vertical-align:baseline;}

/*猜你喜欢*/
.guess{padding:16px 0 0;}
.guess h4{font-size:12px;margin-bottom:10px;}
.guess li{display:inline-block;*display:inline;zoom:1;vertical-align:middle;_vertical-align:top;width:96px;font-size:12px;margin:0 0 18px;}
.guess li a{width:96px;height:96px;border:none;color:#2b2b2b;text-align:center;position:relative;display:block;}
.guess img{border:none;width:64px;height:64px;margin:0 auto;cursor:pointer;}
.guess span{display:block;margin:0 auto;cursor:pointer;}
.guess .appname{color:#2b2b2b;margin-top:2px;height:26px;line-height:26px;font-weight:normal;font-size:12px;width:96px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;cursor:pointer;}
.guess .appmask{background:url(../image/app-mask.png) no-repeat 0 0;width:64px;height:64px;position:absolute;left:16px;top:0;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image/app-mask.png');cursor:pointer;}
.guess .download{width:64px;height:26px;line-height:26px;position:absolute;top:70px;left:16px;display:none;}
.guess a:hover {_border:0 solid #fff;}
.guess a:hover .download{display:block;background:url(../image/like-download.png) no-repeat;}
.guess a:hover .appname{display:none;}

/*吸顶条*/
.topbar{padding:8px 26px 0 22px;height:77px;position:fixed;_position:absolute;left:0;top:0;background:url(../image/topbar-bg.png) repeat-x;width:956px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image/topbar-bg.png');}
.topbar .pic{position:relative;margin-right:12px;}
.topbar .pic img{margin:0 1px 1px;width:40px;height:40px;}
.topbar .pic .imask {width:41px;height:41px;position:absolute;top:0;left:0;background:url(../image/s44.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image/s44.png');}
.topbar .name{font-size:20px;line-height:40px;}
.topbar  .down{width:101px;height:33px;padding-top:4px;}
.topbar  .down a{display:block;background:url(../image/down.jpg) no-repeat;width:101px;height:33px;}
.topbar  .down .download{background-position:0 0;}
.topbar  .down .installed{background-position:0 -33px;}
.topbar  .down .downloading{background-position:0 -66px;}
.topbar  .down .can-update{background-position:0 bottom;}

/* 预览图片滚动条    */
div.scroll {position: absolute;top:332px;z-index:2;width:704px;height:6px;cursor:default;}
.scroll-outer {background: #7F7F7F url(../image/scroll-left.gif) no-repeat left top;position:absolute;width: 150px;height:6px;left:0;}
.scroll-inner {background: url(../image/scroll-right.gif) no-repeat right top;width: 100%;height:6px;}

/* 右键菜单 */
#menu {position:absolute;width:103px;height:54px;border:0 none;padding-top:2px;overflow:hidden;display:none;z-index:100;background:url(../image/menu.gif) 0 0 no-repeat;font: 12px 'Microsoft YaHei'}
#menu div { z-index:101;margin-left:2px;margin-right:2px;padding-left:26px;padding-top:3px;height:25px;color:#303135;cursor:pointer; }
#menu .selitem { color:white;background-color:#b6bdc8; }

/** 覆盖畅言样式  **/
.main #SOHUCS #SOHU_MAIN .btn-fw, .windows-define-dg .btn-fw {line-height:20px; text-indent:-250px;}
#SOHUCS #SOHU_MAIN #powerby_sohu .section-service-w .service-wrap-w a {visibility:hidden;}
#SOHUCS #SOHU_MAIN #powerby_sohu .section-service-w .service-wrap-w span{color:#44708e;text-align:center !important;display:block;}

/** 畅言发布按钮样式*/
#SOHUCS #SOHU_MAIN .post-wrap-w .wrap-action-w .action-issue-w .issue-btn-w a .btn-fw{float:right;}

/* 畅言游客登录名称样式*/
#SOHUCS #SOHU_MAIN .section-title-w .user-wrap-w .wrap-name-b {visibility: hidden;}
/* 畅言金币样式*/
#SOHUCS #SOHU_MAIN .section-cbox-w .head-gold-w {visibility: hidden;}
/* 畅言恢复中分享链接样式   隐藏分享按钮*/
#SOHUCS #SOHU_MAIN .section-list-w .wrap-action-gw .action-click-gw span a[class='evt-share'],
#SOHUCS #SOHU_MAIN .section-list-w .wrap-action-gw .action-click-gw .click-reply-gw + .gap-gw{display: none;}
