.arrow {
    width: 0;
    height: 0;
    border-width: 11px;
    border-color: #2b5797;
    border-style: solid;
}

.tooltip.top .arrow {
    border-bottom: 0;
    border-left-color: transparent;
    border-right-color: transparent;
    left: 50%;
    margin-left: -11px;
    bottom: 0;
    margin-bottom: -11px;
}

.tooltip.top {
    margin-bottom: 11px;
}

.tooltip {
    position: absolute;
    box-shadow: 0 0 2px 2px lightslategray;
}
.tooltip-content{
    padding: 9px 14px;
}

.tooltip-title {
    font-size: 14px;
    font-weight: 400;
    padding: 5px 10px;
    margin: 0;
    background-color: #2b5797;
}

.tooltip .arrow {
    position: absolute;
}