<!doctype html >
<html manifest="main.appcache" ng-app="bmsIPad" ng-controller="appInfo" lang="zh-CN">
<head ng-controller="appInfo">
    <meta charset='utf-8'>
    <title>{{name}}</title>
    <link rel="stylesheet" href="http://js.wanmeiyueyu.com/public/bootstrap/3.2.0/css/bootstrap.min.css" media="all" />
</head>

<body>
    
    <header >
        
        <nav class="navbar navbar-default" role="navigation">
    
            <div class="container-fluid">
            
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{link}}">{{name}}{{current}}</a>
                </div>
        
                <div class="collapse navbar-collapse">
                    
                    <ul class="nav navbar-nav">
                        <li ng-repeat="module in modules" class="{{module.active}}" ng-click="changeModule(module)"><a href="#{{module.link}}">{{module.name}}</a></li>
                    </ul>
                  
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user}}<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="system in systems"><a href="{{system.link}}">{{system.name}}</a></li>
                                <li class="divider"></li>
                                <li><a href="{{logoutLink}}">退出系统</a></li>
                            </ul>
                        </li>
                    </ul>
                  
                </div><!-- /.navbar-collapse -->
            
            </div><!-- /.container-fluid -->
          
        </nav>
        
    </header>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked" role="tablist">
                  <li ng-repeat="page in pages" class="{{page.active}}" ng-click="changePage(page)"><a href="#{{page.link}}">{{page.name}}</a></li>
                </ul>
            </div>
            <div class="col-md-10" role="main">
                <div ng-view></div>
            </div>
        </div>
        
    </div>
    
    <footer></footer>
	<script src="http://js.wanmeiyueyu.com/bms-kyipad/js/build.js"></script>
	
</body>
</html>